* {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

/* Header section */

header h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

a {
    color: aquamarine;
}

/* Main section */

.showcase {
    padding-bottom: 10px;
}

.showcase img {
    max-width: fit-content;
}

.description h1 {
    font-size: 45px;
}

h2, #copyright {
    color: gray;
    font-size: 22px;
}

.description img {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/* Footer Section */

footer {
    margin-bottom: 60px;
}

footer img {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer h1 {
    font-size: 42px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

footer a {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#copyright {
    text-align: right;
}