* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #222121;
    color:  #a7a6a6;
    width: 100vw;
}

header {
    background-color: #383737;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}

h1{
    font-weight: bold;
    font-size: 4rem;
    color: #EA7600;
    text-align: center;
}

h1:hover {
    color: #fd8206;
}

.homepage-link {
    text-decoration: none;
}


nav {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: #919090;
    font-weight: bold;
    font-size: 150%;
}

a:hover {
    color: #EA7600;
}

img {
    max-width: 700px;
    flex-shrink: 1;
    flex-grow: 1;
    height: auto;
    background-color: white;
    border-radius: 10px;
    align-self: center;
}

img:hover {
    cursor: pointer;
    opacity: .7;
    position: relative;
    left: 2%;
}

@media (max-width: 1200px) {
    img {
       width:  500px;
    }
}

@media (max-width: 800px) {
    img {
        width:  300px;
     }
}

/* Main */

/* Mission Statement */

.mission {
    background-image: url('BlenderLogo500x2000.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
}

.statement {
    background-color: hsla(0, 1%, 22%, .7);
    width: 100%;
    padding: 2%;
}

.statement h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 1%;
}

.statement p{
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
}

@media (max-width: 1500px) {
    .mission {
        height: 300px;
    }
    .statement h2 {
        font-size: 2rem;
    }

    .statement p {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    .mission {
        background-image: url('BlenderLogo250x1000.png');
        background-size: contain;
        height: 250px;
    }

    .statement h2 {
        font-size: 2rem;
    }

    .statement p {
        font-size: 1rem;
    }
}

/* Capabilities Section */

.capabilities {
    justify-content: center;
    padding: 2%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    padding: 5%;    
    max-width: 400px;
}

.capabilities a {    
    margin: 0 5%;
}

h3 {
    font-weight: bold;
    font-size: 2em;
    color: #EA7600;
}

@media (min-width: 2000px) {
    .text-container {
        padding: 0;
        width: 700px;
    }

    h3 {
        font-size: 3rem;
    }

    .capabilities p {
        font-size: 2rem;
    }
}

@media (min-width: 1500px) {
    .text-container {
        padding: 1%;
        width: 500px;
    }

    h3 {
        font-size: 3rem;
    }

    .capabilities p {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {

    h3 {
        font-size: 1rem;
    }

    .capabilities p {
        font-size: 1rem;
    }

    .capabilities li {
        font-size: .75rem;
    }
  }


  /* Footer Section */

  footer {
      background-color: #383737;
      height: 50px;
      border-radius: 5px;
  }

  footer p {
      text-align: center;
      padding: 10px;
  }
